# Ignore Gradle project-specific cache directory
.gradle
.project
.settings

# Ignore Gradle build output directory
build

# Ignore bin output directories
bin

# Ignore java related files
.classpath
.log

# Ignore IDE's and editors directories
.idea
.vscode
.DS_Store
